.body {
    background-color: #000000;
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    display: grid;
    place-content: center;
    min-height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    max-width: 1800px;
    margin: 0 auto;
}

.header {
    text-align: center;
    font-size: 24px;
    line-height: 125%;
    color: #ffffff;
    opacity: 50%;
    margin: 0 0 64px 0;
}

.text {
    font-size: 120px;
    line-height: 100%;
    letter-spacing: -4%;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 0 96px 0;
    text-align: center;

    @media (width <= 1080px) {
        font-size: 80px;
    }

    @media (width <= 760px) {
        font-size: 64px;
    }

    @media (width <= 640px) {
        font-size: 40px;
    }
}

.text__img {
    border-radius: 0.45em;
    height: 0.7em;
    display: inline-block;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &.text__img--size-small {
        width: 1.33em;
    }
    &.text__img--size-medium {
        width: 2.66em;
    }
    &.text__img--size-large {
        width: 3em;
    }

    &.text__img--pic1 {
        background-image: url("/images/image-01.webp");
    }
    &.text__img--pic2 {
        background-image: url("/images/image-02.webp");
    }
    &.text__img--pic3 {
        background-image: url("/images/image-03.webp");
    }
}

.button {
    padding: 24px 48px;
    border: none;
    background-color: #ffffff;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    clip-path: polygon(8% 0, 92% 0, 100% 50%, 92% 100%, 8% 100%, 0 50%);
    cursor: pointer;

    &:hover {
        background-color: #eeeeee;
    }

    @media (width <= 760px) {
        font-size: 18px;
        padding: 12px 24px;
    }
}

.button-wrapper {
    position: relative;

    &::before {
        position: absolute;
        content: " ";
        left: 50%;
        bottom: 50%;
        height: 2px;
        width: 63vw;
        transform: translateX(-50%);
        background-color: #ffffff;

        @media (width <= 760px) {
            width: 80vw;
        }
    }
}
