.body {
  display: grid;
  place-content: center;
  background-color: #000000;
  width: 100vw;
  min-height: 100vh;
  font-weight: 400;
  font-family: "Golos Text", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 24px;
  max-width: 1800px;
}

.header {
  opacity: 50%;
  margin: 0 0 64px 0;
  color: #ffffff;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
}

.text {
  margin: 0 0 96px 0;
  color: #ffffff;
  font-size: 120px;
  line-height: 100%;
  letter-spacing: -4%;
  text-align: center;
  text-transform: uppercase;

  @media (width <= 1080px) {
    font-size: 80px;
  }

  @media (width <= 760px) {
    font-size: 64px;
  }

  @media (width <= 640px) {
    font-size: 40px;
  }
}

.text__img {
  display: inline-block;
  border-radius: 0.45em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;
  height: 0.7em;

  &.text__img--size-small {
    width: 1.33em;
  }
  &.text__img--size-medium {
    width: 2.66em;
  }
  &.text__img--size-large {
    width: 3em;
  }

  &.text__img--pic1 {
    background-image: url("/images/image-01.webp");
  }
  &.text__img--pic2 {
    background-image: url("/images/image-02.webp");
  }
  &.text__img--pic3 {
    background-image: url("/images/image-03.webp");
  }
}

.button {
  clip-path: polygon(8% 0, 92% 0, 100% 50%, 92% 100%, 8% 100%, 0 50%);
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  padding: 24px 48px;
  color: #000000;
  font-size: 24px;
  line-height: 32px;

  &:hover {
    background-color: #eeeeee;
  }

  @media (width <= 760px) {
    padding: 12px 24px;
    font-size: 18px;
  }
}

.button-wrapper {
  position: relative;

  &::before {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    width: 63vw;
    height: 2px;
    content: " ";

    @media (width <= 760px) {
      width: 80vw;
    }
  }
}
